.banner {
    // background-color: $soft-green;
    background: rgb(174,232,151);
    background: linear-gradient(90deg, rgba(174,232,151,1) 0%, rgba(196,232,151,1) 100%);
}

.banner__inner {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.banner__image {
    margin-right: 34px;
}

.banner__image svg {
    width: 169px;
}

.banner__strapline {
    font-size: 2rem;
}