.banner {
    // background-color: $soft-green;
    background: rgb(174,232,151);
    background: linear-gradient(90deg, rgba(174,232,151,1) 0%, #e5ffc4 100%);
}

.banner__inner {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.banner__image {
    margin-right: 34px;
}

.banner__image svg {
    width: 169px;
}

.banner__strapline {
    font-size: 2rem;
}


@include respond(mobile) {
.banner__inner {
    flex-direction: column;
    text-align: center;
}
.banner__image svg {
    margin-right: 0;
    margin-bottom: 34px;
}
}