@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 66px;
    background: $dark-grey;
    color: $off-white;
}

.footer__container
{
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    text-decoration: underline;
}

.footer__bacp {
    float: left;
    background-color: #fff;
}
.footer__bacp img {
    max-width: 300px;
    box-sizing: border-box;
    padding: 20px;
}

.footer__nav li {
    margin-bottom: 6px;
}

.footer__right
{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@include respond(mobile) {
    .footer__brand,
    .footer__nav {
        float: none;
        margin-bottom: 50px;
    }

    .footer__bacp {
        margin-bottom: 38px;
    }

    .footer__nav li {
        margin-bottom: 24px;
    }

    .footer__container
    {
        flex-direction: column;
    }
}