.nav {
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.4rem;
    font-weight: 700;
}

.nav li,
.nav__brand {
    position: relative;
    padding: 20px 0;
}

.nav__brand-container {
    float: left;
    display: flex;
    height: 61px;
    align-items: center;
}

.nav__brand-container svg {
    margin-right: 11px;
    width: 45px;
    height: 45px;
}

.nav a {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
}
.nav__current::after,
.nav li:hover::after {
    content: "\00a0";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $purple;
    bottom: 0;
}

.nav__brand {
    float: left;
}

.nav ul {
    list-style: none;
    float: right;
    overflow: hidden;
    transition: max-height 0.25s ease;
}

.nav li {
    float: left;
}
.nav li:not(:last-child) {
    margin-right: 20px;
}

.nav__toggle-button {
    background-color: transparent;
    border: none;
    display: none;
    height: 2.3rem;
    margin: 1.6rem;
    position: absolute;
    right: 22px;
    width: 2.4rem;
    z-index: 99;

    @include respond(tab-port) {
      display: block;
    }

    &::before {
      background-color: $purple;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 0;
      transform-origin: 0 0;
      transition: transform 0.25s ease;
      width: 100%;
    }

    &::after {
      background-color: $purple;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      bottom: 0;
      transform-origin: 0 100%;
      transition: transform 0.25s ease;
      width: 100%;
    }

    &--active {
      &::before {
        //top: 50%;
        transform: rotate(45deg) scaleX(1.2);
      }

      &::after {
        //top: 50%;
        transform: rotate(-45deg) scaleX(1.2);
      }
    }

    &:hover {
      cursor: pointer;
    }
}

.nav__burger {
    background-color: $purple;
    height: 2px;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
}

.nav__burger--active {
    display: none;
  }

@include respond(tab-port) {
    .nav__brand,
    .nav ul,
    .nav li {
        float: none;
    }
    
    .nav__brand-container {
        float: none;
        margin-bottom: 0;
    }

    .nav.nav li {
        margin-right: 0;
        margin-bottom: 0;
    }
    .nav.nav li:not(:last-child) {
        border-bottom: 1px solid $purple;
    }

    .nav ul {
        max-height: 0;
    }
    .nav__toggle-button--active ~ ul
    {
        max-height: 100%;
    }
}