.nav {
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.4rem;
    font-weight: 700;
}

.nav li,
.nav__brand {
    position: relative;
    padding: 20px 0;
}

.nav__brand-container {
    float: left;
    display: flex;
    height: 61px;
    align-items: center;
}

.nav__brand-container svg {
    margin-right: 11px;
    width: 45px;
    height: 45px;
}

.nav a {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
}
.nav__current::after,
.nav li:hover::after {
    content: "\00a0";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $purple;
    bottom: 0;
}

.nav__brand {
    float: left;
}

.nav ul {
    list-style: none;
    float: right;
}

.nav li {
    float: left;
}
.nav li:not(:last-child) {
    margin-right: 20px;
}


@include respond(mobile) {
    .nav__brand,
    .nav ul,
    .nav li {
        float: none;
    }
    
    .nav__brand-container {
        float: none;
        margin-bottom: 0;
    }

    .nav li {
        margin-right: 0;
        margin-bottom: 24px;
    }
}