// Colours
$dark-grey: #333;
$off-white: #d8d8d8;

// Fonts
$font-standard: 'Comfortaa', arial;

$mobile-margin: 20px;

$box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3);

$light-green: #0e9e77;
$dark-green: #08674d;
$gold: #c0935a;
$purple: #6c53a0;
$green: #74b93d;
$soft-green: #BBE897;