@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.row {
    margin: 0 auto;
    max-width: 92rem;
}

.cf {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}


@include respond(tab-land) {
    .row  {
        margin: 0 $mobile-margin;
    }
}