.heading {
    font-size: 3.2rem;
    font-weight: 800;
    margin-bottom: 12px;
    color: $off-black;
}

.heading-2 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 22px;
    color: $off-black;
}

body {
    color: $dark-grey;
    font-family: $font-standard;
    font-size: 1.8rem;
    line-height: 1.5;
}

p {
    margin-bottom: 18px;
}

section {
    margin-bottom: 44px;
}
section:last-of-type {
    margin-bottom: 94px;
}

.strong-uppercase {
    font-weight: 700;
    text-transform: uppercase;
}